.header{

    display: flex;
    align-items: center;

    justify-content: space-between;
    background: rgba(229, 84, 115, 0.10);



}





 nav{ 
   
    padding: 30px 150px;
   

   
}


.text-bold{
    color: #272727;

font-family: 'Open Sans', sans-serif;
font-size: 60px;
font-weight: 400;
margin-bottom: 15px;



}


.bold-discription{
    color: rgba(39, 39, 39, 0.60);


}


.btn-color{
 border-radius: 8px;
background: #E55473;



padding: 20px 43px;

gap: 10px;


color: #FFF;
font-size: 20px;
font-weight: 700;



}



.profile-pic{
    margin-top: 50px;
    margin-right: 60px;
    width: 500px;
height: 600px;

}


.flex-text{
    text-align: center;
    margin-top: 150px;
}
